@import "styles/imports";

.circle-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.2s ease;

  // show border and hide cursor
  &:hover {
    border-color: $light-blue;
    cursor: none;

    &.circle-hover--timeline {
      width: 136px;
      height: 136px;
    }
  }

  // title container starts at 0 height to make the text slide up
  @mixin title-container {
    height: 0;
    transition: 0.2s ease;
    margin-bottom: 8px;
  }

  // title should start with opacity 0
  @mixin title {
    @include notes;
    color: $light-blue;
    opacity: 0;
    transition: 0.3s ease;
    text-align: center;
  }

  &__title-container {
    @include title-container;
  }

  &__title {
    @include title;
  }

  &__subtitle-container {
    @include title-container;
    margin-bottom: 0;
    margin-top: 8px;
  }

  &__subtitle {
    @include title;
  }

  // if there is a title, then it should be shown
  &--show-title:hover & {
    &__title-container {
      height: 20px;
    }

    &__title {
      opacity: 1;
    }
  }

  // if there is a subtitle, then it should be shown
  &--show-subtitle:hover & {
    &__subtitle-container {
      height: 20px;
    }

    &__subtitle {
      opacity: 1;
    }
  }

  // size for tech icons
  &--tech {
    width: 136px;
    height: 136px;
  }

  // size for action icons
  &--action {
    width: 88px;
    height: 88px;
  }

  // size for social icons
  &--social {
    width: 168px;
    height: 168px;

    .circle-hover__title {
      @include body-text;
      font-weight: 200;
    }

    &.circle-hover--show-title:hover {
      & > .circle-hover__title-container {
        height: 40px;
      }
    }
  }

  // size for timeline icons
  &--timeline {
    width: 48px;
    height: 48px;
    background: $light-blue;
    transition: 0.3s ease;

    &:hover {
      width: 136px;
      height: 136px;
    }

    .circle-hover__title-container {
      transition: 0.1s ease;
    }

    .circle-hover__title {
      color: $navy-blue-dark;
      transition: 0.2s ease;
    }

    .circle-hover__subtitle-container {
      transition: 0.1s ease;
    }

    .circle-hover__subtitle {
      color: $navy-blue-dark;
      transition: 0.2s ease;
    }
  }
}
